<div id="home">
    <header>
        <app-header Title="阿婆私房菜" Back="login"></app-header>
    </header>
    <div class="body"> 
        <ul class="nav">
            <li>
                <a routerLink="menus">点菜</a>
            </li>
            <li>
                <a routerLink="order">订单</a>
            </li>
        </ul>
        <el-alert type="error" [show-icon]="true" style="display:none" class="nono">
            暂未登录，为你跳转中ing.....
        </el-alert>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      
    </div>
    <div class="footer">
        <div class="car">
            <div class="car_left">
                <div class="carIcon">
                    <i class="icon-gouwucheman iconfont"></i>
                    <span class="carNum" *ngIf="store.count != 0">{{store.count}}</span>
                </div>
            </div>
               
            <div class="price">￥{{store.TotalPrice}}</div>
            <button class="checkBtn" (click)="toCheckOrder()">选好了</button>
        </div>
        <app-public-menus></app-public-menus>
      </div>
</div>


<!-- <h1>
  这是首页
</h1>
<button (click)="toProduct()">商品列表</button> -->
<!-- 传参 -->
<!-- <a [routerLink]="['/details']" [queryParams]="{id:1,name:'zhang',age:18}">商品详情</a>

<button (click)="toCart()">购物车</button> -->

