<<<<<<< HEAD

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1520071051350'); /* IE9*/
  src: url('iconfont.eot?t=1520071051350#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1520071051350') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1520071051350#iconfont') format('svg'); /* iOS 4.1- */
=======
@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1520071051350');
    /* IE9*/
    src: url('../font/iconfont.eot?t=1520071051350#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.ttf?t=1520071051350') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1520071051350#iconfont') format('svg');
    /* iOS 4.1- */
>>>>>>> 7e53698069857f8cdfa0d3eb7219e629b749be70
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
    content: "\f0178";
}

.icon-gouwuchekong:before {
    content: "\f0179";
}

.icon-gerenzhongxin:before {
    content: "\e68a";
}

.icon-yudiancan0101:before {
    content: "\e620";
}

.icon-yijianfankui:before {
    content: "\e637";
}

.icon-xin:before {
    content: "\e635";
}

.icon-dingdan:before {
    content: "\e652";
}

.icon-jianhao:before {
    content: "\e604";
}

.icon-jingdiananli_wujiaoxing_shoucanghou:before {
    content: "\e64a";
}

.icon-jingdiananli_kongwujiaoxing_shoucang:before {
    content: "\e64b";
}

.icon-jiahao2:before {
    content: "\e648";
}

.icon-rexiaochanpin:before {
    content: "\e60a";
}

.icon-gifts:before {
    content: "\e60d";
}

.icon-membership-card_icon:before {
    content: "\e677";
}

.icon-shezhi-tianchong:before {
    content: "\e638";
}

.icon-option:before {
    content: "\e60b";
}

.icon-fanhui:before {
    content: "\e606";
}

.icon-youhuiquan:before {
    content: "\e612";
}