<div class="login">
  <div class="lg-top">
    <i class="iconfont icon-fanhui back" (click)="toCenter()"></i>
    <h2>手机号登录</h2>
  </div>
  <div class="img">
    <img src="http://via.placeholder.com/375x200" alt="">
  </div>
  <el-alert type="error" style="display:none" class="ero">
    {{errorInfo}}
  </el-alert>
  <div class="lg-body">
    <el-input [(ngModel)]="tel" placeholder="请输入手机号" (blur)="telBtn()"></el-input>
    <div class="kong"></div>
    <el-input native-type="password" [(ngModel)]="pwd" placeholder="请输入密码" (blur)="pwdBtn()"></el-input>
    <br>
    <div class="kong"></div>
    <el-button type="primary" native-type="submit" [plain]="true" icon="upload" (click)="toLogin(type)" class="btn">登录</el-button>
    <br>
    <a [routerLink]="['/reg']" style="color:#ccc">还没账号?那就注册吧</a>
  </div>  
</div>

