<div class="order_body">
    <div class="orderBanner" *ngIf="routerState == true; else elseHeader">
        <img src="../../assets/orderBanner.png" alt="">
    </div>
    <ng-template #elseHeader>
        <header>
            <app-header Title="我的订单" Back="home/menus"></app-header>
            <ul class="ordersTab">
                <li (click)="getOrder('getOrder')">全部</li>
                <li (click)="getOrder('status1')">未完成</li>
                <li (click)="getOrder('status2')">已完成</li>
            </ul>
        </header>
    </ng-template>
    <div class="all">
        <div class="orders" *ngFor="let obj of orders">
            <h4 class="order_top"><p><i class="icon-dingdan iconfont"></i><span>{{filterData(obj.addTime)}}</span></p><p><span *ngIf="obj.status == 0">待付款</span><span *ngIf="obj.status == 1">已完成</span></p></h4>
            <ul>
                <ng-template ngFor let-objItem [ngForOf]="orderItem">
                <li *ngIf="obj.orderId ==objItem.orderId"><span>{{objItem.foodName}}</span><span>￥{{objItem.price}}</span></li>
                </ng-template>
            </ul>
            <!-- <h3></h3> -->
            <h4 class="order_bottom">
                <span>订单号：{{obj.orderId}}</span>
                <span>
                
                    <span *ngIf="obj.status == 1" (click)="Again(obj.orderId)">再来一单</span>
                    <span *ngIf="obj.status == 0" (click)="toPayment(obj.orderId)">去付款</span>
                </span>
                <i *ngIf="obj.status == 1" class="el-icon-delete" (click)="delOrder(obj.orderId)" ></i>
            </h4>
        </div>
    </div>
 <footer *ngIf="routerState == false" class="orderFooter">
    <app-public-menus></app-public-menus>
 </footer>
</div>
    