tr.actived {
  background: #aed0e9;

  color: #fff;
}

tr td{
    text-align:center;
}
.ng-star-inserted{
  margin-top:20px;
}
ul .ant-pagination.mini .ant-pagination-item{
  min-width: 0;
  height: 0;
}
ul .ant-pagination.mini .ant-pagination-item a{
  display: block;
  min-width: 20px;
  height: 20px;
}
.ant-pagination .ant-pagination-item a {
  margin:0;
}
.dataHeader{
  margin-bottom: 20px;
}
.dataHeader button{
  margin-left: 20px;
}





